doctype html
include @/bootstrap.ldui/dist/index.pug
//- var fontlist = ["851手書き雑フォント","中楷體","瀨戶字体","花園明朝","中仿宋體","刻石錄明體","站酷快乐体2016修订版","衡山毛筆","中圓體","刻石錄鋼筆鶴體","站酷高端黑体修订2015","中明體","刻石錄顏體","粗黑體","王漢宗中魏碑簡體","王漢宗仿宋體","王漢宗粗鋼體","王漢宗粗黑體實陰","王漢宗標楷體空心","王漢宗正海報","王漢宗細新宋簡體","王漢宗中明注音體","王漢宗波卡體空陰","王漢宗細明","王漢宗中明破音字1","王漢宗波浪體","王漢宗細黑","王漢宗中明破音字2","王漢宗海報體半天水","王漢宗中明破音字3","王漢宗中楷注音體","王漢宗超明","王漢宗中楷破音字1","王漢宗超黑俏皮動物","王漢宗中楷破音字2","王漢宗特黑","王漢宗酷儷海報","王漢宗中楷破音字3","王漢宗鋼筆行楷","王漢宗粗圓體雙空","王漢宗顏體"];
//-- var featurefonts = ["瀨戶字体", "衡山毛筆", "王漢宗粗鋼體", "王漢宗綜藝體", "王漢宗波浪體"];
-
  var fontlist = [
    ["DotGothic16", "DotGothic16-Regular", "8231"],
    ["KleeOne / SemiBold", "KleeOne-SemiBold", "10178"],
    ["KleeOne", "KleeOne-Regular", "10178"],
    ["Stick", "Stick-Regular", "8231"],
    ["ReggaeOne", "ReggaeOne-Regular", "8231"],
    ["RampartOne", "RampartOne-Regular", "8231"],
    ["RocknRollOne", "RocknRollOne-Regular", "8230"],
    ["TrainOne", "TrainOne-Regular", "4356"],

    ["思源宋體 / 極細", "NotoSerifCJKtc-ExtraLight"],
    ["思源宋體 / 細", "NotoSerifCJKtc-Light"],
    ["思源宋體", "NotoSerifCJKtc-Regular"],
    ["思源宋體 / 適中", "NotoSerifCJKtc-Medium"],
    ["思源宋體 / 次粗", "NotoSerifCJKtc-SemiBold"],
    ["思源宋體 / 粗", "NotoSerifCJKtc-Bold"],
    ["思源宋體 / 濃", "NotoSerifCJKtc-Black"],

    ["cjk手寫4", "cjk手寫4", "12201"],
    ["粉圓體", "openhuninn-1.1", "9676"],
    ["台北黑體 / 粗", "TaipeiSansTCBeta-Bold", "32732"],
    ["台北黑體", "TaipeiSansTCBeta-Regular", "32731"],
    ["台北黑體 / 細", "TaipeiSansTCBeta-Bold", "32762"],
    ["花圓明朝A", "HanaminA", "41494"],
    ["花圓明朝B", "HanaminB", "60418"],
    ["內海字體 / Bold", "NaikaiFont-Bold", 46817],
    ["內海字體 / SemiBold", "NaikaiFont-SemiBold", 46817],
    ["內海字體", "NaikaiFont-Regular", 46817],
    ["內海字體 / Light", "NaikaiFont-Light", 46817],
    ["內海字體 / ExtraLight", "NaikaiFont-ExtraLight", 46817],
  ]
-
  var featurefonts = [
    ["內海字體", "NaikaiFont-Regular"],
    ["思源宋體", "NotoSerifCJKtc-Regular"],
    ["台北黑體", "TaipeiSansTCBeta-Regular"],
    ["cjk手寫4", "cjk手寫4"],
    ["粉圓體", "openhuninn-1.1"],
    ["Rampart", "RampartOne-Regular"]
  ]
html
  head
    meta(charset="utf-8")
    meta(property="og:locale",content="zh_TW")
    meta(property="og:image",content="http://plotdb.github.io/xfl/assets/img/thumbnail.png")
    meta(property="og:image:type",content="image/png")
    meta(property="og:image:width",content="1200")
    meta(property="og:image:height",content="630")
    meta(property="og:title",content="XL Font Load / 大尺寸字型載入器")
    meta(property="og:type",content="article")
    meta(property="og:url",content="http://plotdb.github.io/xfl/")
    meta(property="og:description",content="這個專案實作了一個快速中文字型載入模組，將字型檔依字頻切成小塊，再根據網頁內容選擇需要載入的字型子集")
    meta(property="article:author",content="zbryikt")
    meta(property="article:section",content="Taiwan")
    meta(name="keywords",content="webfont,font loader,cjk")
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("assets/lib/ldloader/main/ldld.min.css")
    +css("assets/lib/ldbutton/main/ldbtn.min.css")
    +css("assets/lib/@loadingio/loading.css/main/loading.min.css")
    +css("assets/lib/ldcover/main/ldcv.min.css")
    +css("css/index.css")
  body: #root
    .ldcv: .base(style="max-width:90%;width:640px;height:480px;max-height:90%"): .inner
      .w-100.h-100.d-flex.flex-column
        .flex-grow-1.position-relative.p-4
          .w-100.h-100.ld.ld-over-inverse
            .ld.ld-ring.ld-cycle
            svg.w-100.h-100.border.rounded.shadow-sm
              defs
                linearGradient#lg(x1="0",y1="0",x2="1",y2="1")
                  stop(offset="0%",stop-color="#f00")
                  stop(offset="25%",stop-color="#f90")
                  stop(offset="50%",stop-color="#9f0")
                  stop(offset="75%",stop-color="#0f9")
                  stop(offset="100%",stop-color="#09f")
              path(fill="url(#lg)")
        .d-flex.justify-content-end.px-4.pb-4: .btn.btn-outline-dark(data-ldcv-set="") Close

    h1
      span XL Font Load / 
      ruby
        rb 大尺寸
        rt 中日韓
      span 字型載入器
    hr
    #chooser.d-flex
      .btn-group.mb-2.mr-2
        each font in featurefonts
          .btn.btn-outline-dark(data-font=font[1])= font[0]
      .dropdown(style="display:inline-block;vertical-align:top")
        .btn.btn-outline-dark.dropdown-toggle(data-toggle="dropdown") More
        .dropdown-menu.shadow-sm(style="max-height:400px;overflow:scroll")
          each font in fontlist
            a.dropdown-item.d-flex.align-items-center(href="#",data-font=font[1])
              .flex-grow-1= font[0]
              if font[2]
                small.text-muted.ml-2 #{font[2]}字
          //-each font in enlist
            a.dropdown-item(href="#",data-font=font,data-type="en")= font
      .flex-grow-1.text-right
        .btn.btn-outline-dark(data-target="svg") 輸出 SVG

    textarea.form-control(rows="7",placeholder="在這邊隨便輸入一些中文字看看吧...")
    +nbr(2)
    h2 這是什麼？
    p 中文字型檔向來動輒數MB，若要做為網路字型使用往往很卡。其它解決方案大多是商業付費服務，而且針對動態內容，要嘛做不好，亦或成本很高。
    p 針對這個問題，#[code @plotdb/xfl] 實作了：
    ul
      li 中文字型切割工具
      li 中文字型載入模組
    p 先使用切割工具將字型檔依字頻切成小塊後，再使用載入器根據網頁內容選擇需要載入的字型子集，因此我們可以快速的選取想要的字型，套用在網站上。切割過後的字型亦可搭配 #[code opentype.js] 於前、後端進行字型組合。
    p 另一方面，此專案亦收集了十來以 #[code SIL Open Font License 1.1] 釋出的免費、可商用開放中文字型，亦提供預先切割好的字型模組，可直接分支使用，不需再花時間自行搜集處理。
    br
    h2 我要怎麼取得？
    p 此專案託管於 #[a(href="https://github.com/plotdb/xfl") Github 專案庫] ，您可以造訪該網址並利用 Git 分支，或者直接下載整包模組。
    br
    h3 我可以整理自己的中文字型集嗎？
    p 可以！此專案連同編譯程式碼一同釋出，可自動編譯切割指定之字型檔。
    br
    h3 換字型會閃 / 打字會閃 / 載入還是很久 / 字型有缺字
    p 這些都是未來改進方向，科科。
    br
    hr
    #footer
      div source code copyrighted #[a(href="https://twitter.com/zbryikt") @zbryikt] released under MIT License
      div source in #[a(href="https://github.com/plotdb/xfl") Github Repo] / font files in #[a(href="https://github.com/plotdb/xl-fontset") Another Github Repo]

    +script("assets/lib/bootstrap.native/main/bootstrap-native-v4.min.js")
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/ldcover/main/ldcv.min.js")
    +script("assets/lib/ldloader/main/ldld.min.js")
    +script("assets/lib/proxise/main/proxise.min.js")
    +script("assets/lib/opentype.js/main/opentype.min.js")
    +script("assets/lib/@plotdb/xfl/dev/xfl.js")
    +script("js/index.js")
